<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Boss管理平台</title>
    <link rel="stylesheet" href="../boss_assets/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../boss_assets/node_modules/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../boss_assets/node_modules/nprogress/nprogress.css">
    <link rel="stylesheet" href="../boss_assets/node_modules/startEnd-date/plugin/layui-v1.0.7/css/layui.css">
    <link rel="stylesheet" href="../boss_assets/node_modules/startEnd-date/css/date.css">
    <link rel="stylesheet" href="../boss_assets/node_modules/swiper/swiper-3.4.2.min.css">
    <link rel="stylesheet" href="../boss_assets/css/index.css">
    <link rel="shortcut icon" href="../boss_assets/img/AppIcon20@2x.png">
    <style>
        .beatyInfo>ul>Li{
            width: 150px;
        }
        .beatyInfo>ul>Li>span{
            white-space: nowrap;
        }
    </style>
</head>

<body>
    <!-- 侧边栏 -->
    <div class="aside">
        <div class="navs">
            <ul class="list-unstyled">
                <li>
                    <a href="./index.html">
                        <img src="../boss_assets/img/home.png"> 统计数据
                    </a>
                </li>
                <li>
                    <a href="./ticketManage.html">
                        <img src="../boss_assets/img/ticket.png"> 门票管理
                    </a>
                </li>
                <li>
                    <a href="./orderManage.html">
                        <img src="../boss_assets/img/order.png"> 订单管理
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <img src="../boss_assets/img/me.png">
                        用户管理
                        <i class="arrow fa fa-angle-right"></i>
                    </a>
                    <ul class="list-unstyled">
                        <li>
                            <a href="./users.html">
                                用户管理
                            </a>
                        </li>
                        <li>
                            <a href="./boss.html">
                                 BOSS
                            </a>
                        </li>
                        <li>
                            <a href="./girls.html">
                                佳人
                            </a>
                        </li>
                        <li>
                            <a href="./agency.html" class="active">
                                中介
                            </a>
                        </li>
                        <li>
                            <a href="./virtual.html">
                                虚拟用户
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="./homeManage.html">
                        <img src="../boss_assets/img/indexManage.png"> 置顶MM
                    </a>
                </li>
                <li>
                    <a href="./reviewManage.html">
                        <img src="../boss_assets/img/review.png"> 审核管理
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <img src="../boss_assets/img/msg.png">
                        推送管理
                        <i class="arrow fa fa-angle-right"></i>
                    </a>
                    <ul class="list-unstyled listUl">
                        <li>
                            <a href="./msgManage.html">
                                短信管理
                            </a>
                        </li>
                        <li>
                            <a href="./pushManage.html">
                                push管理
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;">
                        <img src="../boss_assets/img/version.png"> 版本更新
                        <i class="arrow fa fa-angle-right"></i>
                    </a>
                    <ul class="list-unstyled listUl">
                        <li>
                            <a href="./AndroidVersionUpdate.html">
                                安卓更新
                            </a>
                        </li>
                        <li>
                            <a href="./AppleVersionUpdate.html">
                                苹果更新
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <!-- 主体 -->
    <div class="main">

        <div class="container-fluid">
            <div class="head">
                <div class="top">
                    <span class="title">中介</span>
                </div>
            </div>
            <div class="body">
                <div class="formData registerUserOverview">
                    <div class="b-Top">
                        <span class="formView">当日关键指标</span>
                    </div>
                    <!-- 表格模板 -->

                    <div class="b-Main">
                        <div class="b-cell">
                            <span class="b-title">新增中介</span>
                            <span class="b-init agency"></span>
                        </div>
                        <div class="b-cell">
                            <span class="b-title">新增中介端佳人</span>
                            <span class="b-init agencyC"></span>
                        </div>
                        <div class="b-cell">
                            <span class="b-title">累计中介</span>
                            <span class="b-init agencyCount"></span>
                        </div>
                        <div class="b-cell">
                            <span class="b-title">累计中介端佳人</span>
                            <span class="b-init agencyCCount"></span>
                        </div>
                    </div>
                </div>
                <!-- 按钮组 -->
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-default">中介数据</button>
                    <button type="button" class="btn btn-default">中介端佳人</button>
                    <button type="button" class="btn btn-default">城市分布</button>
                </div>
                <div>
                    <div class="formData tab_cell">
                        <div class="b-Top">
                            <!-- <span class="f_right">中介小计:88</span> -->
                            <div class="dropdown formView">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="true">
                                  最近7天
                                  <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li><a href="javascript:;" onclick="getAgencyChart(date._7daysago, date._1dayago);">最近7天</a></li>
                                    <li><a href="javascript:;" onclick="getAgencyChart(date._15daysago, date._1dayago)">最近15天</a></li>
                                    <li><a href="javascript:;" onclick="getAgencyChart(date._30daysago, date._1dayago);">最近30天</a></li>
                                </ul>
                            </div>

                        </div>
                        <div id="mychart" style="width: 1418px;height:600px;"></div>
                    </div>

                    <div class="formData tab_cell">
                        <div class="b-Top">
                            <!-- <span class="f_right">佳人小计:</span> -->
                            <div class="dropdown formView">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="true">
                                      最近7天
                                      <span class="caret"></span>
                                    </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li><a href="javascript:;" onclick="getAgencyGirlsChart(date._7daysago, date._1dayago);">最近7天</a></li>
                                    <li><a href="javascript:;" onclick="getAgencyGirlsChart(date._15daysago, date._1dayago)">最近15天</a></li>
                                    <li><a href="javascript:;" onclick="getAgencyGirlsChart(date._30daysago, date._1dayago);">最近30天</a></li>
                                </ul>
                            </div>

                        </div>
                        <div id="mychart1" style="width: 1418px;height:600px;"></div>
                    </div>

                    <div class="formData tab_cell">
                        <div id="mychart4" style="width: 1418px;height:600px;"></div>
                    </div>
                </div>
                <div class="formData relative">
                    <div class="b-Top">
                        <span class="formView">
                            <form class="layui-form" action="" id="form">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label">起止日期</label>
                                        <div class="layui-input-inline ui-time">
                                            <input type="text" id="dp11" class="layui-input ui-time-text" value="" placeholder="1970-01-01~2117-10-16" kssj="2017-09-09" jssj="2018-09-09" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </span>
                        <button class="btn btn-success query_table">确定</button>
                        <button class="pro-export">下载表格</button>
                    </div>
                    <div class="b-Table">


                    </div>
                </div>


            </div>
        </div>
    </div>

    <!-- 订单 Modal -->
    <div class="modal fade" id="order" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="myModalLabel">订单记录</h3>
                </div>
                <div class="modal-body">
                    <div class="orderList">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 照片 Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="myModalLabel">佳人信息</h3>
                </div>
                <div class="modal-body modal-content">
                    <form>
                        <div class="form-group beatyInfo" style="display:flex;justify-content:space-around">
                            <ul>
                                <li><span>艺名:</span>
                                    <strong class="name"></strong>
                                </li>
                                <li><span>城市:</span>
                                    <strong class="cityId"></strong>
                                </li>
                                <li><span>价格:</span>
                                    <strong class="price"></strong>
                                </li>
                                <li><span>气质:</span>
                                    <strong class="temperament"></strong>
                                </li>
                            </ul>
                            <ul>
                                <li><span>年龄:</span>
                                    <strong class="age"></strong>
                                </li>
                                <li><span>身高:</span>
                                    <strong class="high"></strong>
                                </li>
                                <li><span>上围:</span>
                                    <strong class="wai"></strong>
                                </li>
                                <li><span>形象:</span>
                                    <strong class="image"></strong>
                                </li>
                            </ul>
                            <ul>
                                <li><span>特长:</span>
                                    <strong class="specialty"></strong>
                                </li>
                                <li><span>自定义:</span>
                                    <strong class="custom"></strong>
                                </li>
                                <li><span>拍摄地:</span>
                                    <strong class="shootPlace"></strong>
                                </li>
                            </ul>
                        </div>
                    </form>
                    <!-- 轮播图 -->
                    <div id="myCarousel" class="carousel slide">
                        <!-- 轮播（Carousel）指标 -->
                        <ol class="carousel-indicators">
                        </ol>
                        <!-- 轮播（Carousel）项目 -->
                        <div class="carousel-inner">
                        </div>
                        <!-- 轮播（Carousel）导航 -->
                        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;
                        </a>
                        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
<script src="../boss_assets/node_modules/jquery/dist/jquery.min.js"></script>
<script src="../boss_assets/node_modules/jquery.cookie/jquery.cookie.js"></script>
<script src="../boss_assets/node_modules/swiper/swiper-3.4.2.jquery.min.js"></script>
<script src="../boss_assets/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../boss_assets/node_modules/art-template/lib/template-web.js"></script>
<script src="../boss_assets/node_modules/nprogress/nprogress.js"></script>
<script src="../boss_assets/node_modules/echarts/dist/echarts.min.js"></script>
<script src="../boss_assets/node_modules/startEnd-date/plugin/layui-v1.0.7/layui.js"></script>
<script src="../boss_assets/node_modules/startEnd-date/js/jQuery.dateLay.js"></script>
<script src="../boss_assets/node_modules/startEnd-date/main.js"></script>
<script src="../boss_assets/js/common.js"></script>
<script src="../boss_assets/js/agency.js"></script>

<script type="text/javascript">
    layui.use(['laydate', 'dateLay'], function () {
        var layer = layui.layer, laydate = layui.laydate;
        var obj = {
            init: function () {
                this.dp11 = $('#dp11');
                this.initEvent();
            },
            initEvent: function () {
                this.dp11.dateLay();
            }
        }
        obj.init();
    });
</script>
<script type="text/template" id="agencyTemp">
    <table class="userInfo agencyTable" border="1">
        <tr>
            <th>用户ID</th>
            <th>手机号</th>
            <th>佳人数(个)</th>
            <th id="sort" mySort="order_num" desc="order_num desc" type="1" class="as pointer">订单(次) &nbsp;<i class="fa fa-sort" aria-hidden="true"></i></th>
            <th id="sort" mySort="amount" desc="amount desc" class="as pointer">总收益(元) &nbsp;<i class="fa fa-sort" aria-hidden="true"></i></th>
            <th>状态</th>
        </tr>
        {{each list v i}}
        <tr>
            <td uid={{v.id}} style="cursor:pointer" class="agencyId"><i class="fa fa-angle-down" aria-hidden="true"></i>{{v.id}}</td>
            <td>{{v.mobile}}</td>
            <td>{{v.modelNum}}</td>
            {{if v.orderNum != 0}}
            <td>{{v.orderNum}}</td>
            {{else}}
            <td>--</td>
            {{/if}} {{if v.amount != 0}}
            <td>{{v.amount/100}}</td>
            {{else}}
            <td>--</td>
            {{/if}}
            <td>
                <!-- <button class="btn btn-success cancleBtn" userId={{v.id}} onclick="setStatus({{v}},0)">下架</button>
                <button class="btn btn-danger cancleBtn" userId={{v.id}} onclick="setStatus({{v}},1)">上架</button> -->
                --
            </td>
        </tr>
        {{/each}}
    </table>
    <div class="agencyGirlsDiv"></div>
    <div class="pages">
        <a href="javascript:;" class="previous">
            <img src="../boss_assets/img/previous.png" alt="">
        </a>
        <span class="currentPage currPn">{{pn}}</span>
        <span>/</span>
        <span class="currentPage totalPn">{{pageCount}}</span>
        <a href="javascript:;" class="next">
            <img src="../boss_assets/img/next.png">
        </a>
    </div>
</script>

<script type="text/template" id="agencyGirlsTemp">
    <table class=" girlTable" border="1">
        <tr>
            <th>用户ID</th>
            <th>城市</th>
            <th>艺名</th>
            <th>订单(次)</th>
            <th>总收益(元)</th>
            <th>评分</th>
            <th>状态</th>
        </tr>
        {{each list v i}}
        <tr>
            <td>{{v.id}}</td>
            <td>{{v.cityId}}</td>
            <td class="check name_evaluate" uid="{{v.id}}" data-toggle="modal" data-target="#myModal">{{v.name}}</td>
            {{if v.orderNum != 0}}
            <td class="check order_evaluate" uid="{{v.id}}" ordertype="1" data-toggle="modal" data-target="#order">{{v.orderNum}}</td>
            {{else}}
            <td>--</td>
            {{/if}} {{if v.amount != 0}}
            <td>{{v.amount/100}}</td>
            {{else}}
            <td>--</td>
            {{/if}}
            <td>{{v.score}}</td>
            <td>
                {{if v.salesStatus == 0}}
                <button class="btn btn-danger handle" salesStatus="1" userId={{v.id}}>上架</button> {{else}}
                <button class="btn btn-success handle" salesStatus="0" userId={{v.id}}>下架</button> {{/if}}
            </td>
        </tr>
        {{/each}}
    </table>
</script>
